<!DOCTYPE html>
<html>
<head>
  <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/css/clean-blog.min.css" rel="stylesheet">

<link rel="stylesheet" href="/css/main.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <ul class="navigation">
    <li class="logo">
      CUNYion
    </li>
    <a href="/">
      <li>
        Home
      </li>
    </a><a href="faq.php">
      <li>
        FAQ
      </li>
    </a><a href="/community">
      <li>
        Community
      </li>
    </a><a href="/posts">
      <li>
        New Posts
      </li>
    </a><a href="/group">
      <li>
        group
      </li>
    </a>
     {{#if cur_user}}
            <li id="logout"><a href="#">Logout</a></li>
      {{ else }}
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
    {{/if}}
  </ul>
</nav>

 {{{ body }}}

  <footer>
    <div class="container">
      <div class="row">
        <p> &nbsp; 

<h4><center>Copyright &copy; CUNYion Forum 2017</center></h4>
</p>

      </div>
    </div>
  </footer>
        <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/jquery-cookie/jquery-cookie.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/common/common.min.js"></script>
    <script src="/vendor/jquery.validation/jquery.validation.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendor/vide/vide.min.js"></script>
   <script src={{script}}></script>
    
    <!-- user login js -->
    <script src="/js/user-login.js"></script>

    <!-- Registration page form -->
    <script src="/js/registration-form.js"></script>
</body>
</html>
